<div class="login-container">
  <div class="login-content">
    <img src="assets/img/hamburguesa.png" alt="Fondo Hamburguesa" class="burger-img" />

    <form class="form-box" (ngSubmit)="iniciarSesion()">
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email"
        [class.input-error]="mostrarError && (!email || !email.trim())"
        class="form-control custom-input mb-3"
        [disabled]="cargando"
      />

      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        [class.input-error]="mostrarError && (!password || !password.trim())"
        class="form-control custom-input mb-3"
        [disabled]="cargando"
      />

      <button type="submit" class="btn btn-login w-100" [disabled]="cargando">Iniciar Sesión</button>

      <!-- Mensaje de error si faltan campos -->
      <div *ngIf="mostrarError && (!email.trim() || !password.trim())" class="text-danger mt-2 text-center">
        Por favor, completá todos los campos.
      </div>

      <!-- Mensaje de error si login inválido -->
      <div *ngIf="mostrarError" class="text-danger mt-2 text-center">
  {{ mensajeError }}
</div>

      <!-- Indicador de carga -->
      <div *ngIf="cargando" class="text-center mt-2">
        Validando usuario...
      </div>
    </form>

    <a href="/register" class="btn btn-log w-100 text-center mt-3">No Tengo Cuenta Aún</a>
  </div>
</div>
